---
import BaseLayout from "../layouts/BaseLayout.astro";
const title = "Acerca de";
import "../styles/global.css";
---

<BaseLayout title={title}>
    <section
        class="h-[50dvh] flex flex-1 justify-center items-center bg-[url('/siproind_astro/acercade-hero.jpg')] bg-blend-overlay bg-black/60 bg-fixed"
    >
        <div class="flex flex-col justify-center items-center w-1/2 gap-6">
            <img
                class="h-28 w-24"
                src="/siproind_astro/logo_sipro.png"
                alt=""
            />
            <h1 class="text-4xl font-medium text-white">Nuestro Sello</h1>
            <p class="text-2xl font-light text-center text-white">
                En SIPROIND, nuestra misión es convertirnos en Partner de
                nuestros clientes, proporcionar soluciones integrales y
                servicios especializados que contribuyan a la eficiencia
                operativa y la optimización de los activos industriales
            </p>
        </div>
    </section>
    <section class="h-[50dvh] flex flex-col items-center gap-4 pt-3">
        <h1 class="text-3xl font-medium">Nuestros Valores</h1>
        <div class="flex flex-col gap-4">
            <div class="flex gap-4">
                <div
                    class="h-40 w-96 border p-2 flex flex-col items-center gap-4"
                >
                    <h1 class="text-center text-xl">Excelencia</h1>
                    <p class="text-center">
                        Buscamos la excelencia en todo lo que hacemos,
                        ofreciendo soluciones personalizadas y de calidad en
                        Gestión de Activos industriales
                    </p>
                </div>
                <div
                    class="h-40 w-96 border p-2 flex flex-col items-center gap-4"
                >
                    <h1 class="text-center text-xl">Innovacion</h1>
                    <p class="text-center">
                        Abrazamos la innovación y nos mantenemos a la vanguardia
                        de las últimas tecnologías y mejores prácticas.
                    </p>
                </div>
            </div>
            <div class="flex gap-4">
                <div
                    class="h-40 w-96 border p-2 flex flex-col items-center gap-4"
                >
                    <h1 class="text-center text-xl">Integridad</h1>
                    <p class="text-center">
                        Actuamos con honestidad y transparencia en todas
                        nuestras operaciones promoviendo una cultura interna de
                        ética y comunicación abierta.
                    </p>
                </div>
                <div
                    class="h-40 w-96 border p-2 flex flex-col items-center gap-4"
                >
                    <h1 class="text-center text-xl">Colaboracion</h1>
                    <p class="text-center">
                        Valoramos la colaboración y trabajamos en estrecha
                        colaboración con nuestros clientes para lograr
                        resultados sobresalientes.
                    </p>
                </div>
            </div>
        </div>
    </section>
</BaseLayout>
