---
import BaseLayout from "../layouts/BaseLayout.astro";
const title = "SIPROIND";
import "../styles/global.css";
---

<BaseLayout title={title}>
	<section
		class="h-screen relative top-0 -z-10 flex flex-1 flex-col items-center justify-center border-b-2 border-green-500"
	>
		<video
			id="bgVideo"
			autoplay
			muted
			loop
			class="absolute top-0 left-0 w-full h-full object-cover -z-20"
		>
			<source src="/siproind_astro/bg-main.mp4" type="video/mp4" />
			Tu navegador no soporta videos HTML5.
		</video>
		<div
			class="flex flex-col justify-center items-center gap-5 w-2/3 text-white opacity-0 transition-opacity duration-3000 ease-in-out"
			id="heroContent"
		>
			<h1 class="text-5xl font-extrabold hideOnScroll">SIPROIND</h1>
			<h3 class="text-2xl text-center font-semibold hideOnScroll">
				En SIPROIND, nos esforzamos por alcanzar la excelencia en cada
				aspecto de nuestro trabajo. Nos especializamos en proporcionar
				soluciones personalizadas y de alta calidad en la Gestión de
				Activos Industriales.
			</h3>
		</div>
	</section>
	<section id="acercade" class="h-[100dvh] scroll-mt-[5.625rem]">
		<div class="flex items-center justify-center py-4">
			<h1 class="text-6xl text-center font-semibold text-[#163d0f]">
				CONOZCA A <br /> SIPROIND
			</h1>
		</div>
		<div class="flex flex-col md:flex-row bg-[#F1EFEF] w-full">
			<div
				class="md:w-1/2 flex flex-col justify-center items-center gap-4 py-4 md:py-0"
			>
				<h1 class="text-3xl font-semibold text-center w-11/12">
					Tus necesidades y objetivos son unicos para nuestro equipo
				</h1>
				<p class="text-xl font-light text-center w-11/12">
					Como empresa enfocada en ofrecer servicios de ingenieria
					industrial, trabajamos con el propósito fundamental de dar
					prioridad al contacto directo con el cliente y tener la
					solución adecuada para cada una de sus necesidades. Tus
					necesidades y objetivos son únicos para nuestro equipo.
					Queremos ser tu partner de gestión industrial. Puedes
					confiar en nosotros.
				</p>
				<button
					class="border-2 rounded-lg bg-[#163d0f] text-white p-3 inline-block hover:bg-white hover:text-[#163d0f] duration-500"
					>Nosotros</button
				>
			</div>
			<div class="md:w-1/2">
				<img
					class=""
					src="/siproind_astro/img-descripcion.png"
					alt=""
				/>
			</div>
		</div>
	</section>
	<script>
		document.addEventListener("DOMContentLoaded", () => {
			const hideHero = document.getElementById("heroContent");
			if (hideHero) {
				setTimeout(() => {
					hideHero.classList.remove("opacity-0");
					hideHero.classList.add("opacity-100");
				}, 300);
			}
			const elementsToObserve =
				document.querySelectorAll(".hideOnScroll");

			const observerOptions = {
				root: null, // Usa el viewport
				rootMargin: "-30% 0px -30% 0px",
				threshold: [0.15, 0.2],
			};
			const observer = new IntersectionObserver((entries) => {
				entries.forEach((entry) => {
					const targetElement = entry.target as HTMLElement;

					if (entry.isIntersecting) {
						targetElement.style.transition =
							"opacity 0.5s ease-in-out";
						targetElement.style.opacity = "1";
						console.log(
							"Elemento entrando al viewport (Fade In):",
							entry.target,
						);
					} else {
						targetElement.style.transition =
							"opacity 0.5s ease-in-out";
						targetElement.style.opacity = "0";
						console.log(
							"Elemento saliendo del viewport (Fade Out):",
							entry.target,
						);
					}
				});
			}, observerOptions);

			elementsToObserve.forEach((element) => {
				observer.observe(element);
			});
			const video = document.getElementById(
				"bgVideo",
			) as HTMLVideoElement;
			if (video) {
				video.playbackRate = 0.7;
			}
		});
	</script>
</BaseLayout>
