---
import BaseLayout from "../layouts/BaseLayout.astro";
const title = "Servicios";
import "../styles/global.css";
---

<BaseLayout title={title}>
    <section class="">
        <div class="h-[60dvh] flex flex-col items-center relative">
            <h1
                class="text-center text-4xl font-semibold py-4 absolute z-10 top-24 text-white px-2 bg-green-400"
            >
                Áreas productivas donde aportamos soluciones sustentables
            </h1>
            <div class="hero-container flex flex-nowrap absolute w-full top-0">
                <div
                    class="hero-item w-[40dvw] h-[70dvh] -mr-[7.5vw] relative overflow-hidden"
                    style="clip-path: polygon(0% 0%, 100% 0%, 75% 100%, 0% 100%);"
                >
                    <img
                        class="w-full h-full object-cover scale-125 hover:scale-100"
                        src="/siproind_astro/remanufactura_blacked.jpg"
                        alt="Remanufactura"
                    />

                    <h1
                        class="hero-title text-white text-xl md:text-3xl font-semibold absolute bottom-0 left-0 z-10 px-1 md:px-4"
                    >
                        Remanufactura
                    </h1>
                </div>

                <div
                    class="hero-item w-[40dvw] h-[70dvh] -mr-[7.5vw] relative overflow-hidden"
                    style="clip-path: polygon(25% 0%, 100% 0%, 75% 100%, 0% 100%);"
                >
                    <img
                        class="w-full h-full object-cover duration-200 transition-transform transform scale-125 hover:scale-100"
                        src="/siproind_astro/maderaaserrada_blacked.jpg"
                        alt="Madera Aserrada"
                    />
                    <h1
                        class="hero-title text-white text-xl md:text-3xl font-semibold absolute bottom-0 left-0 z-10 px-1 md:px-4"
                    >
                        Madera Aserrada
                    </h1>
                </div>

                <div
                    class="hero-item w-[40dvw] h-[70dvh] -mr-[7.5vw] relative overflow-hidden"
                    style="clip-path: polygon(25% 0%, 100% 0%, 75% 100%, 0% 100%);"
                >
                    <img
                        class="w-full h-full object-cover duration-200 transition-transform transform scale-125 hover:scale-100 relative z-5"
                        src="/siproind_astro/pesquera_blacked.jpg"
                        alt="Pesquera"
                    />
                    <h1
                        class="hero-title text-white text-xl md:text-3xl font-semibold absolute bottom-0 left-0 z-10 px-1 md:px-4"
                    >
                        Pesquera
                    </h1>
                </div>

                <div
                    class="hero-item w-[40dvw] h-[70dvh] relative overflow-hidden"
                    style="clip-path: polygon(25% 0%, 100% 0%, 100% 100%, 0% 100%);"
                >
                    <img
                        class="w-full h-full object-cover duration-200 transition-transform transform scale-125 hover:scale-100"
                        src="/siproind_astro/fruticola_blacked.jpg"
                        alt="Frutícola"
                    />
                    <h1
                        class="hero-title text-white text-xl md:text-3xl font-semibold absolute bottom-0 left-0 z-10 px-1 md:px-4"
                    >
                        Frutícola
                    </h1>
                </div>
            </div>
        </div>
    </section>
    <section class="h-[100dvh]"></section>

    <!-- <div class="w-2/3 flex justify-evenly relative flex-col md:flex-row">
        <div class="relative h-60 w-60">
            <div class="absolute h-60 w-60 z-10 overflow-hidden">
                <img
                    class="h-full w-full scale-125"
                    src="/siproind_astro/remanufactura.jpg"
                    alt=""
                />
            </div>
            <div class="absolute w-28 top-10 bg-white right-44 z-20">
                <h1>Remanufactura</h1>
            </div>
        </div>
        <div class="relative h-60 w-60">
            <div class="absolute h-60 w-60 z-10 overflow-hidden">
                <img
                    class="h-60 w-60"
                    src="/siproind_astro/maderaaserrada.jpg"
                    alt=""
                />
            </div>
            <div class="absolute w-28 top-10 bg-white right-44 z-20">
                <h1>Madera Aserrada</h1>
            </div>
        </div>
        <div class="relative h-60 w-60">
            <div class="absolute h-60 w-60 z-10 overflow-hidden">
                <img
                    class="h-60 w-60"
                    src="/siproind_astro/pesquera.jpg"
                    alt=""
                />
            </div>
            <div class="absolute w-28 top-10 bg-white right-44 z-20">
                <h1>Pesquera</h1>
            </div>
        </div>
        <div class="relative h-60 w-60">
            <div class="absolute h-60 w-60 z-10 overflow-hidden">
                <img
                    class="h-60 w-60"
                    src="/siproind_astro/fruticola.jpg"
                    alt=""
                />
            </div>
            <div class="absolute w-28 top-10 bg-white right-44 z-20">
                <h1>Fruticola</h1>
            </div>
        </div>
        <div
            class="h-full w-8 md:w-full md:h-8 bg-green-500 absolute top-[45%] -z-20 animate-widfull left-0"
        >
        </div>
    </div>  -->
</BaseLayout>
<script>
    document.addEventListener("DOMContentLoaded", function () {
        var hero_items = document.querySelectorAll(".hero-item");
        console.log(hero_items);
        hero_items.forEach(function (item) {
            var hero_title = item.querySelector(".hero-title");
            item.addEventListener("mouseover", function () {
                if (hero_title) {
                    hero_title.classList.add("bg-green-500");
                }
            });
        });
    });
</script>
<style>
    .hidedtitle {
        display: none;
    }
    .showtitle {
        display: block;
    }
</style>
