---
interface Props {
    title: string;
}
const { title } = Astro.props;
import Navbar from "../components/navbar.astro";
import Footer from "../components/footer.astro";
---

<html lang="es">
    <head>
        <meta charset="utf-8" />
        <meta name="viewport" content="width=device-width" />
        <meta name="generator" content={Astro.generator} />
        <title>{title}</title>
    </head>
    <body>
        <Navbar />
        <slot />
        <Footer />
    </body>
</html>
